.select {
    text-align: center;
    font-size: 2rem;
    padding: 20px;
    background-color: #ccc;
    
    transition: background-color .2s;
    -moz-transition: background-color .2s;
    -webkit-transition: background-color .2s;
}

.select:hover {
    background-color: #aaa;
}