.select {
    text-align: center;
    font-size: 2rem;
    padding: 20px;
    background-color: #ccc;
    cursor: pointer;
    
    transition: background-color .2s;
    -moz-transition: background-color .2s;
    -webkit-transition: background-color .2s;
}

.select:hover {
    background-color: #aaa;
}

.selected {
    background-color: #aaf;
}

.selected:hover {
    background-color: #99f;
}